<script src="client-list.js"></script>
<link rel='stylesheet' href='.\Full-Stack-Project\Stack-Full\public\client-list.css'>
<h1>Client List Page</h1>

<div id="client-list">
    <button class='addBTN' onclick="addButtonClicked({{@index}})">Add Client</button>
    <table class='clientsTable'>
        <thead>
            <tr>
                <th class='info'>First Name</th>
                <th class='info'>Last Name</th>
                <th class='info'>Postal Code</th>
                <th class='info'>Actions</th>
            </tr>
        </thead>
        <tbody  class ='clientData'>
            {{#each clients as | client |}}
                <tr>
                    <td class='clientFirst'>{{client.firstName}}</td>
                    <td class='clientLast'>{{client.lastName}}</td>
                    <td class='clientPostal'>{{client.postalCode}}</td>
                    <td class='editCell'><button class='editBTN' onclick="editButtonClicked({{@index}})">Edit</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    
</div>

